.card-container {
  display: flex;
  flex-direction: column;
  background-color: #a9a9a9;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  color: #f8f8ff;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

p {
  color: #faebd7;
  font-weight: bold;
}
